/* This is where you will write your CSS */
html {
  background-color: #0D3B66;
}

#header1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  background-color: lightskyblue;
} 

ul {
  list-style: disc;
  margin: 2rem;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: red;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem;
  color: white;
  padding: 2rem;
  margin: 2rem;
  padding-left: 2rem;
}

ol li {
  margin-bottom: 1rem;
}

.header2 {
  font-size: 3rem;
  color:lightgreen;
  text-align: left;
  margin-top: 20px;
  padding: 1rem;
}

p {
  margin: 1em;
  color: white;
}

.header3 {
  font-size: 3rem;
  color: lightgreen;
  text-align: left;
  padding: 1rem;
}

.uw-header {
  font-size: 1.5rem;
  color: lightgreen;
}

.cf-header {
  font-size: 1.5rem;
  color: lightgreen;
}
.header4 {
  font-size: 3rem;
  color: lightgreen;
  text-align: left;
  padding: 1rem;
}

footer {
  background-color: lightskyblue;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 2rem;
}
